.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 1rem;
  background-color: #189bb0;
  overflow-x: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar--openned {
  width: 200px;
}

.sidebar---closed {
  width: 0;
}

.sidebar__close-button {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 3rem;
  margin-left: 50px;
}

.sidenav__link {
  width: 180px;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.sidenav__link__icon {
  margin: 0 0.5rem;
  font-size: 2rem;
  color: lightblue;
}

.sidenav__image-container {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav__image {
  width: 100px;
  height: 50px;
}

.sidenav__link:hover {
  color: #f84e6d;
}

.sidenav__link--active {
  color: #f84e6d;
}

.sidenav__button {
  background-color: #58468c;
  text-decoration: none;
  border: none;
  width: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav__link {
    font-size: 18px;
  }
}
