.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 1rem;
  background-color: #3c4c4c;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar--openned {
  width: 200px;
}

.sidebar---closed {
  width: 0;
}

.sidebar__close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
}

.sidenav__link {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav__link:hover {
  color: #f1f1f1;
}

.sidenav__link--active {
  color: navy;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav__link {
    font-size: 18px;
  }
}
