@import "../variables";

.form-section {
  max-width: $max-width-desktop;
  overflow: hidden;
  min-width: $min-width-mobile;
}

.form-section__title {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem 0;
  color: $primary-blue;
}

.form {
  border: 1px solid #c1c1c1;
  border-radius: 1rem;
  padding: 0.5rem 0;
  min-width: $min-width-mobile;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f5f6ff;
}

.form__item {
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: 80px;
  margin: 0 auto;
  //   align-items: center;
  //   justify-content: center;
}

.form__item__label {
  margin-bottom: 0.5rem;
  color: #7f7f7f;
}

.form__item__input {
  width: 100%;
  background-color: #f5f6ff;
}

.form__item__input[type="text"],
.form__item__input[type="email"],
.form__item__input[type="number"] {
  border: none;
  border-bottom: 2px solid $primary-pink;
  padding-bottom: 3px;
}

.form__item__input:focus,
.form__item__select:focus {
  outline: none;
}

.form__submit__button {
  width: 200px;
  background-color: $primary-pink;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.form__item__validator {
  color: red;
}

@media screen and (max-width: 600px) {
  // .form {
  //     margin: 0.2rem auto;
  //     max-width: 400px;
  // }
}
