<a [routerLink]="['/candidatos/registro']">Registrar un candidato</a>
<h3>Lista de candidatos</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Cargo aspirado</th>
            <th>Canal de atracción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let candidate of candidates; let i=index;">
            <th scope="row">{{candidate.id}}</th>
            <td>{{candidate.name}}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.phoneNumber}}</td>
            <td>{{candidate.aspiratedJob}}</td>
            <td>{{candidate.attractionChannel}}</td>
        </tr>
    </tbody>
</table>