<section class="candidates-section">
    <a class="register-candidate" [routerLink]="['/candidatos/registro']">Registrar un candidato</a>
    <h2>Lista de candidatos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Cargo aspirado</th>
                <th>Canal de atracción</th>
                <th>Hoja de vida</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidate of candidates; let i=index;">
                <th scope="row"><a [routerLink]="[ '/candidatos/candidato', candidate.id ]">{{candidate.id}}</a></th>
                <td>{{candidate.name}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.phoneNumber}}</td>
                <td>{{candidate.aspiratedJob}}</td>
                <td>{{candidate.attractionChannel}}</td>
                <td><a [href]="candidate.CVUrl" target="_blank" rel="noopener">Click</a></td>
            </tr>
        </tbody>
    </table>
</section>