<h2 mat-dialog-title>{{ this.channel ? "Editar canal" : "Crear canal" }}</h2>
<form [formGroup]="channelForm" (ngSubmit)="submit()">
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Descripción</mat-label>
      <textarea
        cols="30"
        rows="4"
        matInput
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button
      [disabled]="channelForm.invalid"
      mat-dialog-close
      mat-raised-button
      type="submit"
      color="primary"
    >
      {{ this.channel ? "Editar canal" : "Crear canal" }}
    </button>
    <button mat-dialog-close mat-stroked-button type="button">
      Cancelar
    </button>
  </mat-dialog-actions>
</form>
