<h3>Registrar un candidato</h3>
<form [formGroup]="candidatesForm" (ngSubmit)="submitForm()">
    <div>
        <div>
            <label>Nombre completo</label>
            <input type="text" formControlName="name" placeholder="John Doe"
                [ngClass]="{'invalid': submitted && f.name.errors}" />
            <div *ngIf="submitted && f.name.errors">
                <small *ngIf="f.name.errors.required">Nombre es requerido</small>
            </div>
        </div>
    </div>
    <div>
        <div>
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="email@example.com"
                [ngClass]="{'invalid': submitted && f.email.errors}" />
            <div *ngIf="submitted && f.email.errors">
                <small *ngIf="f.email.errors.required">Email es requerido</small>
                <small *ngIf="f.email.errors.email">Email debe ser válido</small>
            </div>
        </div>
        <div>
            <label>Teléfono</label>
            <input type="number" formControlName="phoneNumber"
                [ngClass]="{'invalid': submitted && f.phoneNumber.errors}" />
            <div *ngIf="submitted && f.phoneNumber.errors">
                <small *ngIf="f.phoneNumber.errors.required">Teléfono es requerido</small>
            </div>
        </div>
    </div>
    <div>
        <div>
            <label>Cargo aspirado</label>
            <select formControlName="aspiratedJob" [ngClass]="{ 'invalid':submitted && f.aspiratedJob.errors}">
                <option [ngValue]="null" disabled>Seleccione uno...</option>
                <option *ngFor="let aspiratedJob of aspiratedJobs" [ngValue]="aspiratedJob">{{ aspiratedJob }}
                </option>
            </select>
            <div *ngIf="submitted && f.aspiratedJob.errors">
                <small *ngIf="f.aspiratedJob.errors.required">Cargo aspirado es requerido</small>
            </div>
        </div>
        <div>
            <label>Canal de atracción</label>
            <select formControlName="attractionChannel"
                [ngClass]="{ 'invalid': submitted && f.attractionChannel.errors}">
                <option [ngValue]="null" disabled>Seleccione uno...</option>
                <option *ngFor="let attractionChannel of attractionChannels" [ngValue]="attractionChannel">
                    {{ attractionChannel }}</option>
            </select>
            <div *ngIf="submitted && f.attractionChannel.errors">
                <small *ngIf="f.attractionChannel.errors.required">Canal de atracción es requerido</small>
            </div>
        </div>
    </div>
    <div>
        <div>
            <button type="submit">
                Registrar candidato
            </button>
        </div>
    </div>
</form>