<a class="btn btn-primary bg-pink" routerLink="registro">
  Registrar un candidato
</a>
<h2>Lista de candidatos</h2>
<div *ngIf="!loadingCandidates" class="table-responsive animate__animated animate__fadeIn">
  <table class="table table-bordered table-striped tas-table">
    <thead class="tas-table__header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Canal de atracción</th>
        <th>CV</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of candidates">
        <th scope=" row">
          <a [routerLink]="[candidate.id]">{{ candidate.id }}</a>
        </th>
        <td>{{ candidate.name }}</td>
        <td>{{ candidate.email }}</td>
        <td>{{ candidate.phoneNumber }}</td>
        <td>{{ candidate.channel.name }}</td>
        <td class="text-center">
          <a [href]="candidate.CVUrl" target="_blank" rel="noopener">
            <i class="fa fa-eye align-middle" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-loading [loading]="loadingCandidates"></app-loading>
