// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap");

$primary-blue: #189bb0;
$primary-pink: #f84e6d;
$primary-purple: #58468c;
$max-width-desktop: 1400px;
$max-width-mobile: 950px;
$min-width-mobile: 300px;
$font-lato: 'Lato', sans-serif;
$font-poppins: 'Poppins', sans-serif;

