$primary-blue: #189bb0;
$primary-pink: #f84e6d;
$primary-purple: #58468c;
$max-width-desktop: 1400px;
$max-width-mobile: 950px;
$min-width-mobile: 300px;
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
