@import "variables";
body {
  font-size: 16px;
  height: 100vh;
}
* {
  box-sizing: border-box;
}

.tas-btn {
  display: inline-block;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.tas-btn--purple {
  background-color: $primary-purple;
}

.tas-btn--blue {
  background-color: $primary-blue;
}

.tas-btn--pink {
  background-color: $primary-pink;
}

.tas-btn:hover {
  opacity: 0.75;
  box-shadow: 2px 2px 2px 2px rgba($color: gray, $alpha: 0.75);
}

.tas-btn:focus {
  outline: none;
}

.bg-pink {
  background-color: $primary-pink !important;
  border-color: $primary-pink !important;
}

.bg-blue {
  background-color: $primary-blue !important;
  border-color: $primary-blue !important;
}

.bg-purple {
  background-color: $primary-purple !important;
  border-color: $primary-purple !important;
}

.tas-table {
  border: 1px solid $primary-purple;
  max-width: 600px;
  margin: 0 auto;
}

.tas-table__header {
  background-color: $primary-purple;
  color: white;
}
