<form [formGroup]="employmentForm" (ngSubmit)="submit()">
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="job">
        <mat-option *ngFor="let job of jobs" [value]="job.id">
          {{ job.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Descripción</mat-label>
      <textarea
        cols="30"
        rows="4"
        matInput
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Fecha de apertura</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="openingDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-raised-button type="submit" color="primary">
      Agregar oferta
    </button>
  </div>
</form>
